{% extends "modelo.html" %}
{% block conteudo %}
<h1>Sobre a Equipe</h1>
<h3>Guilherme Luiz Oliveira Tavares Cordeiro Neto</h3>
<a href="https://www.instagram.com/guilherm_lcn/">Instagram</a>
<a href="https://github.com/guilhermlcn">GitHub</a>

<h3>Marcos Henrique Formiga Fernandes Bezerra</h3>
<a href="https://www.instagram.com/marcoshffb/">Instagram</a>
<a href="https://github.com/marcoshffb">GitHub</a>

<h3>Ismênia Souza Sepulvida Maia</h3>
<a href="https://www.instagram.com/ismeniassmaia/">Instagram</a>
<a href="https://github.com/ismeniamaia">GitHub</a>

<h3>Linda Maria Santos Melo</h3>
<a href="https://www.instagram.com/linda.maria_sm/">Instagram</a>
<a href="https://github.com/SantosMelo123456">GitHub</a>

{% endblock %}
